#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.headerImg {
  position: relative;
  max-width: 100vw;
}

.headerImg img {
  max-width: 100vw;
  width: 100%;
}

.idSearch {
  align-self: center;
  display: flex;
}

.idSearch form {
  display: flex;
}

.idSearch input {
  height: 4vw;
  min-height: 8vh;
}

.idSearch :first-child {
  padding: 0px 5vw;
  font-size: 3vw;
}

@media screen and (max-width: 530px) {
	.idSearch :first-child {
    font-size: 5vw;
  }
}